@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: Inter;
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  width: 80%;
  background-color: green;
  margin: 0 auto;
  grid-template-columns: 1fr;
  padding: 30px 0;
}

header {
  display: flex;
}

header #dashboard h2 {
  color: white;
  font-size: 30px;
}

header #dashboard p {
  color: hsl(228, 34%, 66%);
}

header #theme {
  margin: auto 0 auto auto;
}

article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

article .social-media {
  padding: 30px;
  background-color: yellow;
  border: 2px solid black;
  text-align: center;
}

#details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.social-media-details {
  /* padding: 10px; */
  background-color: yellow;
  border: 2px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
